.container {
  display: flex;
  flex-wrap: wrap;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 225px;
  max-width: 225px;
  margin-bottom: 1rem;
}

.image > img {
  object-fit: contain;
}

.input {
  display: flex;
  font-size: 0.7rem;
  width: 200px;
}

.input input {
  height: 1.5rem;
}

.input button {
  height: 1.5rem;
  padding: 5px;
  width: 20px;
}
