.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
}

.image > img {
  object-fit: contain;
}

.input {
  display: flex;
  width: 350px !important;
}
